<meta charset="utf-8" />
<title>Yum - Multipurpose Food Tailwind CSS Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="" name="description" />
<meta content="coderthemes" name="author" />

<!-- Theme favicon -->
<link rel="shortcut icon" href="assets/images/favicon.ico">
<link href="https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
